# Pandas Basics

## Importing Libraries/Dataframe

In [1]:
import pandas as pd

In [2]:
BASE = "../Data/Cereal.csv"

df = pd.read_csv(BASE)

In [3]:
#Test import
df.head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813

## Basic Data Exporation

In [4]:
#Give me the dimension of the dataframe, this case is 77 rows and 16 columns.
df.shape

(77, 16)

In [5]:
#Contains nbr of rows, data types, how many nulls and the numbers of floats, objects, etc...
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [6]:
#Alhough I could see in the code above, using the below to check if there is any null info.
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [7]:
#Give me basic statistics of the dataframe, based on the numeric columns
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [8]:
#Give me the same status but only for categorical columns.
df.describe(exclude='number')

             name mfr type
count          77  77   77
unique         77   7    2
top     100% Bran   K    C
freq            1  23   74

In [9]:
#Get only specific data types
df.select_dtypes('object')

                         name mfr type
0                   100% Bran   N    C
1           100% Natural Bran   Q    C
2                    All-Bran   K    C
3   All-Bran with Extra Fiber   K    C
4              Almond Delight   R    C
..                        ...  ..  ...
72                    Triples   G    C
73                       Trix   G    C
74                 Wheat Chex   R    C
75                   Wheaties   G    C
76        Wheaties Honey Gold   G    C

[77 rows x 3 columns]

In [10]:
df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

## Basic Filters

In [11]:
#Select one column
df['mfr']

0     N
1     Q
2     K
3     K
4     R
     ..
72    G
73    G
74    R
75    G
76    G
Name: mfr, Length: 77, dtype: object

In [12]:
#Multiple Columns
df[['mfr','name']]

   mfr                       name
0    N                  100% Bran
1    Q          100% Natural Bran
2    K                   All-Bran
3    K  All-Bran with Extra Fiber
4    R             Almond Delight
..  ..                        ...
72   G                    Triples
73   G                       Trix
74   R                 Wheat Chex
75   G                   Wheaties
76   G        Wheaties Honey Gold

[77 rows x 2 columns]

In [13]:
# Use loc and iloc
#iloc is used to locate indexes. Slice rows, Slice Columns [select columns]
df.iloc[0:10, 0:12][['mfr','name','calories']]

  mfr                       name  calories
0   N                  100% Bran        70
1   Q          100% Natural Bran       120
2   K                   All-Bran        70
3   K  All-Bran with Extra Fiber        50
4   R             Almond Delight       110
5   G    Apple Cinnamon Cheerios       110
6   K                Apple Jacks       110
7   G                    Basic 4       130
8   R                  Bran Chex        90
9   P                Bran Flakes        90

In [14]:
#I can pass specific columns if I don't want to slice
df.iloc[0:10,[0,3,5,7]]

                        name  calories  fat  fiber
0                  100% Bran        70    1   10.0
1          100% Natural Bran       120    5    2.0
2                   All-Bran        70    1    9.0
3  All-Bran with Extra Fiber        50    0   14.0
4             Almond Delight       110    2    1.0
5    Apple Cinnamon Cheerios       110    2    1.5
6                Apple Jacks       110    0    1.0
7                    Basic 4       130    2    2.0
8                  Bran Chex        90    1    4.0
9                Bran Flakes        90    0    5.0

In [15]:
#loc is used to take index names or column names. Note in this example the index names are just normal index.
df.loc[0:10,["name","calories"]]

                         name  calories
0                   100% Bran        70
1           100% Natural Bran       120
2                    All-Bran        70
3   All-Bran with Extra Fiber        50
4              Almond Delight       110
5     Apple Cinnamon Cheerios       110
6                 Apple Jacks       110
7                     Basic 4       130
8                   Bran Chex        90
9                 Bran Flakes        90
10               Cap'n'Crunch       120

In [16]:
#Filter data: If I only use the condition, it will bring a boolean. I can use .sum() at the end to bring to toal
df['mfr'] == 'K'

0     False
1     False
2      True
3      True
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Name: mfr, Length: 77, dtype: bool

In [17]:
#to filter all the table, or part of the columns I can use
df[df['mfr'] == 'K'][['name','type','calories','shelf']] # leave the square brakets if I want the whole table
df[df['mfr'] == 'K']

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
16,Corn Flakes,K,C,100,2,0,290,1.0,21.0,2,35,25,1,1.00,1.00,45.863324
17,Corn Pops,K,C,110,1,0,90,1.0,13.0,12,20,25,2,1.00,1.00,35.782791
19,Cracklin' Oat Bran,K,C,110,3,3,140,4.0,10.0,7,160,25,3,1.00,0.50,40.448772
21,Crispix,K,C,110,2,0,220,1.0,21.0,3,30,25,3,1.00,1.00,46.895644
24,Froot Loops,K,C,110,2,1,125,1.0,11.0,13,30,25,2,1.00,1.00,32.207582
25,Frosted Flakes,K,C,110,1,0,200,1.0,14.0,11,25,25,1,1.00,0.75,31.435973
26,Frosted Mini-Wheats,K,C,100,3,0,0,3.0,14.0,7,100,25,2,1.00,0.80,58.345141
28,Fruitful Bran,K,C,120,3,0,240,5.0,14.0,12,190,25,3,1.33,0.67,41.015492
38,Just Right Crunchy Nuggets,K,C,110,2,1,170,1.0,17.0,6,60,100,3,1.00,1.00,36.523683
39,Just Right Fruit & Nut,K,C,140,3,1,170,2.0,20.0,9,95,100,3,1.30,0.75,36.471512
46,Mueslix Crispy Blend,K,C,160,3,2,150,3.0,17.0,13,160,25,3,1.50,0.67,30.313351
48,Nut&Honey Crunch,K,C,120,2,1,190,0.0,15.0,9,40,25,2,1.00,0.67,29.924285
49,Nutri-Grain Almond-Raisin,K,C,140,3,2,220,3.0,21.0,7,130,25,3,1.33,0.67,40.692320
50,Nutri-grain Wheat,K,C,90,3,0,170,3.0,18.0,2,90,25,3,1.00,1.00,59.642837
53,Product 19,K,C,100,3,0,320,1.0,20.0,3,45,100,3,1.00,1.00,41.503540
58,Raisin Bran,K,C,120,3,1,210,5.0,14.0,12,240,25,2,1.33,0.75,39.259197
60,Raisin Squares,K,C,90,2,0,0,2.0,15.0,6,110,25,3,1.00,0.50,55.333142
62,Rice Krispies,K,C,110,2,0,290,0.0,22.0,3,35,25,1,1.00,1.00,40.560159
66,Smacks,K,C,110,2,1,70,1.0,9.0,15,40,25,2,1.00,0.75,31.230054
67,Special K,K,C,110,6,0,230,1.0,16.0,3,55,25,1,1.00,1.00,53.131324

In [18]:
#Filter more than 1 condition
df[(df['mfr'] == 'N') & (df['type'] == 'C') | (df['type'] == 'H')]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
20,Cream of Wheat (Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.00,1.00,64.533816
43,Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.00,1.00,54.850917
57,Quaker Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,110,0,1,1.00,0.67,50.828392
63,Shredded Wheat,N,C,80,2,0,0,3.0,16.0,0,95,0,1,0.83,1.00,68.235885
64,Shredded Wheat 'n'Bran,N,C,90,3,0,0,4.0,19.0,0,140,0,1,1.00,0.67,74.472949
65,Shredded Wheat spoon size,N,C,90,3,0,0,3.0,20.0,0,120,0,1,1.00,0.67,72.801787
68,Strawberry Fruit Wheats,N,C,90,2,0,15,3.0,15.0,5,90,25,2,1.00,1.00,59.363993

In [19]:
#I can use the ~ sign to negate expressions
df[~(df['mfr'].isin(['N','K','Q','R','G']) )]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813
27,Fruit & Fibre Dates; Walnuts; and Oats,P,C,120,3,2,160,5.0,12.0,10,200,25,3,1.25,0.67,40.917047
29,Fruity Pebbles,P,C,110,1,1,135,0.0,13.0,12,25,25,2,1.00,0.75,28.025765
30,Golden Crisp,P,C,100,2,0,45,0.0,11.0,15,40,25,1,1.00,0.88,35.252444
32,Grape Nuts Flakes,P,C,100,3,1,140,3.0,15.0,5,85,25,3,1.00,0.88,52.076897
33,Grape-Nuts,P,C,110,3,0,170,3.0,17.0,3,90,25,3,1.00,0.25,53.371007
34,Great Grains Pecan,P,C,120,3,3,75,3.0,13.0,4,100,25,3,1.00,0.33,45.811716
37,Honey-comb,P,C,110,1,0,180,0.0,14.0,11,35,25,1,1.00,1.33,28.742414
43,Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.00,1.00,54.850917
52,Post Nat. Raisin Bran,P,C,120,3,1,200,6.0,11.0,14,260,25,3,1.33,0.67,37.840594

In [20]:
#Same concept of filter can be done using query
df.query("shelf >= 2  and mfr == 'K'")

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
17,Corn Pops,K,C,110,1,0,90,1.0,13.0,12,20,25,2,1.00,1.00,35.782791
19,Cracklin' Oat Bran,K,C,110,3,3,140,4.0,10.0,7,160,25,3,1.00,0.50,40.448772
21,Crispix,K,C,110,2,0,220,1.0,21.0,3,30,25,3,1.00,1.00,46.895644
24,Froot Loops,K,C,110,2,1,125,1.0,11.0,13,30,25,2,1.00,1.00,32.207582
26,Frosted Mini-Wheats,K,C,100,3,0,0,3.0,14.0,7,100,25,2,1.00,0.80,58.345141
28,Fruitful Bran,K,C,120,3,0,240,5.0,14.0,12,190,25,3,1.33,0.67,41.015492
38,Just Right Crunchy Nuggets,K,C,110,2,1,170,1.0,17.0,6,60,100,3,1.00,1.00,36.523683
39,Just Right Fruit & Nut,K,C,140,3,1,170,2.0,20.0,9,95,100,3,1.30,0.75,36.471512
46,Mueslix Crispy Blend,K,C,160,3,2,150,3.0,17.0,13,160,25,3,1.50,0.67,30.313351
48,Nut&Honey Crunch,K,C,120,2,1,190,0.0,15.0,9,40,25,2,1.00,0.67,29.924285
49,Nutri-Grain Almond-Raisin,K,C,140,3,2,220,3.0,21.0,7,130,25,3,1.33,0.67,40.692320
50,Nutri-grain Wheat,K,C,90,3,0,170,3.0,18.0,2,90,25,3,1.00,1.00,59.642837
53,Product 19,K,C,100,3,0,320,1.0,20.0,3,45,100,3,1.00,1.00,41.503540
58,Raisin Bran,K,C,120,3,1,210,5.0,14.0,12,240,25,2,1.33,0.75,39.259197
60,Raisin Squares,K,C,90,2,0,0,2.0,15.0,6,110,25,3,1.00,0.50,55.333142
66,Smacks,K,C,110,2,1,70,1.0,9.0,15,40,25,2,1.00,0.75,31.230054

## Grouping

In [21]:
#This will show only a place in memory
df.groupby('mfr')

In [22]:
df.groupby('mfr').mean('rating')['rating']

mfr
A    54.850917
G    34.485852
K    44.038462
N    67.968567
P    41.705744
Q    42.915990
R    41.542997
Name: rating, dtype: float64

In [23]:
df.groupby(['mfr','type']).sum('calories')[['calories','rating']]

          calories       rating
mfr type
A   H          100    54.850917
G   C         2450   758.688737
K   C         2500  1012.884634
N   C          420   343.277587
    H          100    64.533816
P   C          980   375.351697
Q   C          660   292.499527
    H          100    50.828392
R   C          920   332.343977

In [24]:
df.groupby('mfr')[['calories','rating']].mean()

       calories     rating
mfr
A    100.000000  54.850917
G    111.363636  34.485852
K    108.695652  44.038462
N     86.666667  67.968567
P    108.888889  41.705744
Q     95.000000  42.915990
R    115.000000  41.542997

In [25]:
df.groupby('mfr').mean('rating')[['calories','rating']]

       calories     rating
mfr
A    100.000000  54.850917
G    111.363636  34.485852
K    108.695652  44.038462
N     86.666667  67.968567
P    108.888889  41.705744
Q     95.000000  42.915990
R    115.000000  41.542997

In [30]:
df.groupby('mfr')[['calories','rating']].mean().sort_values(by='rating', ascending=False)

       calories     rating
mfr
N     86.666667  67.968567
A    100.000000  54.850917
K    108.695652  44.038462
Q     95.000000  42.915990
P    108.888889  41.705744
R    115.000000  41.542997
G    111.363636  34.485852

In [31]:
df.groupby('mfr')['calories'].describe()

     count        mean        std    min    25%    50%    75%    max
mfr
A      1.0  100.000000        NaN  100.0  100.0  100.0  100.0  100.0
G     22.0  111.363636  10.371873  100.0  110.0  110.0  110.0  140.0
K     23.0  108.695652  22.218818   50.0  100.0  110.0  115.0  160.0
N      6.0   86.666667  10.327956   70.0   82.5   90.0   90.0  100.0
P      9.0  108.888889  10.540926   90.0  100.0  110.0  120.0  120.0
Q      8.0   95.000000  29.277002   50.0   87.5  100.0  120.0  120.0
R      8.0  115.000000  22.677868   90.0  100.0  110.0  120.0  150.0